[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pyinstaller = "*"
rope = "*"

[packages]
beautifulsoup4 = "*"
opencv-python = "*"
pyqt5 = "*"
selenium = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python cappuccino.py -s"
build = "pyinstaller.exe cappuccino.spec"
clean = "rm -rf build/ dist/cappuccino.exe"
lint = "flake8 --statistics --show-source ./"
format = "autopep8 --in-place --aggressive --recursive ."
