[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
nuitka = "*"
pyinstaller = "*"
rope = "*"
zstandard = "*"

[packages]
beautifulsoup4 = "*"
opencv-python = "*"
pyside6 = "*"
requests = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python cappuccino.py"
startwidget = "python cappuccino_widget.py"
help = "python cappuccino.py -h"
build-nuitka = "./nuitka_build.bat"
build-pyins = "pyinstaller cappuccino.spec"
clean-nuitka = "rm -rf cappuccino.build cappuccino.dist cappuccino.onefile-build cappuccino.exe"
clean-pyins = "rm -rf build/ dist/cappuccino.exe"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
test = "python -m unittest discover -v"
